nav {
  ul {
    text-align: center;
    li {
      padding: 1.5rem;
      display: inline-block;

      a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $primary;
        &:hover {
          color: $secondary;
          transition: all .2s;
        }
      }
    }
  }
}
